@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Fredoka One', cursive;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.moveButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
    
#goUp { grid-area: 1 / 2 / 2 / 3; }
#goLeft { grid-area: 2 / 1 / 3 / 2; }
#goRight { grid-area: 2 / 3 / 3 / 4; }
#goDown { grid-area: 3 / 2 / 4 / 3; }

.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff5f2d;
    width: min-content;
    white-space: nowrap;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

h1{
    font-size: 48px;
    letter-spacing: 5px;
}

h2{
    font-size: 32px;
    letter-spacing: 2px;
}

#restartBtn{
    width: 100%;
    padding: 0.5rem;
    font-size: 32px;
    font-family:  'Fredoka One', cursive;
    color: white;
    border-radius: 12px;
    outline: none;
    border: none;
    margin-top: 20px;
    background-color: #F84208;
    cursor: pointer;
    transition: 0.2s;
}

#restartBtn:hover{
    background-color: #cc3907;

}

#overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}

#overlay.vis{
    visibility: visible;
    opacity: 1;
}